html, body {
    height: 100%;
    margin: 0;
    padding:0;
}
:root {
    --primary-color: #1d1f8e;  
    --secondary-color: #ffc107;  
    --light-bg: #f5f5f5;
    --card-bg: #ffffff;
    --border-radius: 20px;
    --input-border: #e0e0e0;
  }

/* วงกลมมุม */
.corner {
    position: fixed;  
    background-color: rgba(224, 224, 224, 0.5);  
    border-radius: 50%;
  }
  .top-left {
    width: 500px;
    height: 300px;  
    top: -150px;  
    left: -150px;  
  }
  .bottom-left {
    width: 250px;
    height: 250px; 
    bottom: -125px;
    left: -125px;
  }
  .top-right {
    width: 300px;
    height: 200px;  
    top: -60px;
    right: -50px;
  }
  .bottom-right {
    width: 300px;
    height: 500px;  
    bottom: -100px;
    right: -100px;
  }
  

body{
    margin:0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--card-bg);
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--card-bg);
}
.login-box{/*กล่อง*/
    background-color: var(--card-bg);
    padding: 60px;
    text-align: center;
    width: 100%;
    max-width: 400px;

}

.logo-container{
    margin-bottom: 40px;
}

.utcc-text{
    color: var(--primary-color);
    font-size: 9rem;
    font-weight: bold;
    line-height: 1;
    position: relative;
}
.utcc-text::after {/* จุดสีเหลือง */
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    top: 75%;       
    left: 1%;      
    transform: translate(-50%, -50%);
}
.social-text{
    display: block;
    margin-left: 180px;
    color: rgb(1, 176, 185);
    font-size: 4rem;
    margin-bottom: 30px;
    margin-top: -0.5em;
}

.form-group{/*ห่างของช่องur/ ps*/
    margin-bottom: 20px;
}
.form-control{/*ช่องinput ur ps*/
    width: 100%;
    padding:20px;
    border: 1px solid var(--input-border);
    border-radius: 8px;/*ขอบ*/
    font-size: 1rem;
    box-sizing: border-box;
}
.form-control:focus{/*กดแล้วจะเปลี่ยนสี*/
    outline:none;
    border-color: var(--primary-color);
}

.login-btn{
    width: 100%;
    padding: 20px;
    background-color: var(--secondary-color);
    color: #ffffff;
    border: none;/*เส้นขอบ*/
    border-radius:var(--border-radius) ;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;/*เอาเม้ามาเปลี่ยนเป็นรูปชี้*/
    transition: background-color 0.3s ease;/*เปลี่ยนสีพื้นหลังค่อยๆ0.3วินาที*/
}
.login-btn:hover{
    background-color: #ffb300;/*มาเป*/
}